# Plex Server Environment Variables

# Obtenha seu PLEX_CLAIM em: https://www.plex.tv/claim/
# Este token é válido por 4 minutos após ser gerado
# Deixe vazio se já tiver configurado o servidor anteriormente
PLEX_CLAIM=

# User ID e Group ID (execute 'id' no terminal para ver os seus)
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Lisbon

# Ollama (LLMs Locais)
OLLAMA_URL=http://localhost:11434
OLLAMA_DEFAULT_MODEL=llama3.2:3b
